.alert {
  padding: $padding-small $padding-base;
  border-radius: $border-radius-base;
  font-weight: 900;
  margin: $margin-base 0;
  color: $fc-light;
  &.error {
    background-color: $red;
  }
  &.success {
    background-color: $green;
  }
  &.notice {
    background-color: $blue;
  }
  .closer {
    cursor: pointer;
    float: right;
    margin-left: $margin-base;
  }
  a {
    color: $fc-light;
    &:hover {
      color: $fc-less-light;
    }
  }
}
