.centum,
.cell,
h1
 {
   //Spacers and padding
   &.spacer-d { //Spacer desktop
     flex-grow: 1;
     display: none;
     @media only screen and (min-width: $break) {
       display: block;
     }
   }
   &.spacer-m { //Spacer mobile
     flex-grow: 1;
     display: block;
     @media only screen and (min-width: $break) {
       display: none;
     }
   }
  &.p0 {
    padding: 0 !important;
  }
  &.p5 {
    padding: 5px !important;
  }
  &.p10 {
    padding: 10px !important;
  }
  &.p15 {
    padding: 15px !important;
  }
  &.p20 {
    padding: 20px !important;
  }
  &.ph0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  &.ph5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  &.ph10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  &.ph15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  &.ph20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  &.pv0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  &.pv5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  &.pv10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  &.pv15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  &.pv20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
}

/*Borders*/
.border-basic {
  border: 1px solid $secondary;
}

/*Positioning*/
.cell {
  &.center-h {
    margin: auto;
  }
  &.align-center {
    text-align: center;
  }
  &.align-center-d {
    @media only screen and (min-width: $break) {
      text-align: center;
    }
  }
  &.align-center-m {
    text-align: center;
    @media only screen and (min-width: $break) {
      text-align: initial;
    }
  }
  &.align-right {
    text-align: right;
  }
  &.align-right-d {
    @media only screen and (min-width: $break) {
      text-align: right;
    }
  }
  &.align-right-m {
    text-align: right;
    @media only screen and (min-width: $break) {
      text-align: initial;
    }
  }
  span.center-v { //Vertically centers contents of a span within a cell
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}
