.cell {
  form {
    label {
      display: block;
      &.inline {
        display: inline;
      }
    }

    input[type="email"],
    input[type="password"],
    input[type="text"] {
      border: 1px solid $secondary;
      border-radius: $border-radius-base;
      line-height: $lh-base;
      padding: $padding-tiny $padding-base;
      width: 100%;
      &.is-invalid {
        border: 1px solid $red;
      }
    }

    input[type="checkbox"] {
      margin: 0 0 15px 0;
    }
    &.input-spacing {
      & > input {
        margin-bottom: $margin-base;
      }
    }
  }
}
