.modal-content,
.cell {
  label {
    display: block;
    &.small {
      font-size: $fs-small;
    }
  }

  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="date"],
  input[type="text"] {
    border: 1px solid $secondary;
    border-radius: $border-radius-base;
    height: $lh-base;
    padding: 0 $padding-base;
    width: 100%;
    &.is-invalid {
      border: 1px solid $red;
    }
  }

  input[type="checkbox"] {
    margin: 0 0 15px 0;
  }

  &.input-spacing {
    & > input {
      margin-bottom: $margin-base;
    }
  }

  select {
    border: 1px solid $secondary;
    border-radius: $border-radius-base;
    height: 100%;
    max-height: $lh-big;
    padding: 0 $padding-base;
    width: 100%;
    &.is-invalid {
      border: 1px solid $red;
    }
  }
}
