.short-field {
  max-width: $short-field;
}
.inline {
  display: inline;
}
.hide-d {
    display: inherit !important;
    @media only screen and (min-width: $break) {
        display: none !important;
    }
}
.hide-m {
    display: none !important;
    @media only screen and (min-width: $break) {
        display: inherit !important;
    }
}
