.short-field {
    max-width: $short-field;
}
.medium-field {
    max-width: $medium-field;
}
.long-field {
    max-width: $long-field;
}
.inline {
  display: inline;
}
.hide-d {
    display: inherit !important;
    @media only screen and (min-width: $break) {
        display: none !important;
    }
}
.hide-m {
    display: none !important;
    @media only screen and (min-width: $break) {
        display: inherit !important;
    }
}

.listSorterHandle {
    cursor: grab;
    display: none;
    @media only screen and (min-width: $break) {
        display: inline;
    }
}

.margin-top {
    margin-top: $margin-base;
}

.margin-bottom {
    margin-bottom: $margin-base;
}

.margin-right {
    margin-right: $margin-base;
}

.margin-left {
    margin-left: $margin-base;
}
