nav {
  background-color: $primary;
  color: $fc-light;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  font-size: $fs-big;
  height: $nav-height;
  line-height: $nav-height;
  padding: 0px $padding-base;
  white-space: nowrap;
  z-index: 100;

  a {
    color: $fc-light;
    text-decoration: none;
  }

  .brand {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    font-size: $fs-bigger;
  }

  .nav-hamburger {
    cursor: pointer;
    font-size: $fs-biggest;
    @media only screen and (min-width: $break) {
      display: none;
    }
  }

  .nav-links-container {
    display: none;
    @media only screen and (min-width: $break) {
      display: block;
      padding-left: $padding-base;
      width: 100%;
    }
    &.nav-mobile-show {
      display: block;
      animation: centa-fade-in 0.4s;
      @media only screen and (min-width: $break) {
        display: none;
      }
    }
    .nav-links {
      background-color: $primary;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      opacity: 0.9;
      position: absolute;
      top: $nav-height;
      right: 0;
      @media only screen and (min-width: $break) {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        height: $nav-height;
        opacity: 1;
        position: static;
      }
      ul {
        line-height: $lh-bigger;
        list-style-type: none;
        margin: 0;
        padding: 0;
        @media only screen and (min-width: $break) {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-start;
        }
        li {
          a {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: $nav-height;
            width: 100%;
            padding: $padding-base;
            &:hover {
              background-color: $secondary;
            }
          }
        }
        .nav-links-dropdown {
          cursor: pointer;
          z-index: 1000;
          .nav-links-dropdown-submenu {
            background-color: $secondary;
            list-style-type: none;
            margin: 0;
            padding: 0;
            font-size: $fs-base;
            @media only screen and (min-width: $break) {
              display: flex;
              flex-direction: column;
              flex-wrap: nowrap;
              justify-content: flex-start;
            }
            li {
              a {
                &:hover {
                  background-color: $primary;
                }
              }
            }
          }
          &.nav-links-dropdown-open {
            a{
              &:hover {
                background-color: $primary;
              }
            }
          }
          ul.nav-links-dropdown-submenu {
            display: none;
            &.nav-links-show {
              display: block;
              animation: centa-fade-in 0.4s;
            }
          }
        }
      }
      .fas.fa-caret-down {
        margin-left: $margin-small;
      }
    }
  }
}
