/*Text styles*/
.bold {
  font-weight: 800;
}

.big {
  font-size: $fs-big;
}

.bigger {
  font-size: $fs-bigger;
}

.biggest {
  font-size: $fs-biggest;
}

.giant {
  font-size: $fs-giant;
  line-height: $lh-giant;
}

.small {
    font-size: $fs-small;
}

.smaller {
    font-size: $fs-smaller;
}

.tiny {
    font-size: $fs-tiny;
}
