// Typography
$ff-base: 'Mukta', sans-serif;
$fs-small: 0.8rem;
$fs-base: 1rem;
$fs-big: 1.3rem;
$fs-bigger: 1.6rem;
$fs-biggest: 2rem;
$fs-giant: 6rem;
$lh-smaller: 0.8rem;
$lh-small: 1rem;
$lh-base: 1.6rem;
$lh-big: 1.8rem;
$lh-bigger: 2rem;
$lh-biggest: 2.3rem;
$lh-giant: 6.2rem;

// Colors
$blue: #00134d;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #800000;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #004d1a;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #000;
$white: #fff;

//Pallete
$primary: #595959;
$secondary: #999999;
$background: #eee;
$stripe: #cccccc;
$fc-base: #595959;
$fc-light: #f2f2f2;

//Measurements
$break: 768px;
$nav-height: 54px;
$footer-height: 30px;
$body-margin: 10px;
$padding-base: 10px;
$padding-small: 5px;
$padding-tiny: 2px;
$margin-base: 10px;
$margin-small: 5px;
$border-radius-base: 5px;
$main-height: calc(100vh - 104px); //This 100vh minus the sum of $nav-height and $footer-height plus 2x $body-margin

$transition: 0.4s;
