// Typography
$ff-base: 'Mukta', sans-serif;
$fs-small: 0.8rem;
$fs-button: 0.9rem;
$fs-base: 1rem;
$fs-big: 1.3rem;
$fs-bigger: 1.6rem;
$fs-biggest: 2rem;
$fs-giant: 6rem;
$lh-tiny: 0.1rem;
$lh-smaller: 0.8rem;
$lh-small: 1rem;
$lh-base: 1.6rem;
$lh-big: 1.8rem;
$lh-bigger: 2rem;
$lh-biggest: 2.3rem;
$lh-giant: 6.2rem;

// Colors
$blue: #002080;
$blue-light: #3366ff;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #800000;
$red-light: #ff4d4d;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #004d1a;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #000;
$white: #fff;
$modal-background-color: rgba(0,0,0,0.3);

//Pallete
$primary: #595959;
$secondary: #999999;
$background: #eee;
$stripe: #cccccc;
$fc-base: #595959;
$fc-light: #e6e6e6;
$fc-less-light: #b3b3b3;

//Measurements
$break: 768px;
$nav-height: 54px;
$footer-height: 30px;
$body-margin: 10px;
$padding-base: 10px;
$padding-small: 5px;
$padding-tiny: 2px;
$margin-big: 15px;
$margin-base: 10px;
$margin-small: 5px;
$margin-tiny: 2px;
$border-radius-base: 5px;
$main-height: calc(100vh - 104px); //This 100vh minus the sum of $nav-height and $footer-height plus 2x $body-margin
$modal-max-width: 500px;
$short-field: 100px; //The max width of fileds for very short inputs, such as 2- or 3-digit numbers
$sorter-top: -5px; //Used to align the sorter icon vertically
$textarea-height: 50px;

$transition: 0.4s;
