@import url(https://fonts.googleapis.com/css?family=Mukta);.centum {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.centum > .cell:last-child {
  padding-bottom: 10px;
}

.centum .cell {
  display: block;
  padding: 10px 10px 0 10px;
  width: 100%;
  word-wrap: normal;
}

@media only screen and (min-width: 768px) {
  .centum .cell {
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .centum .x95 {
    max-width: 95%;
  }
}

@media only screen and (min-width: 768px) {
  .centum .x90 {
    max-width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  .centum .x85 {
    max-width: 85%;
  }
}

@media only screen and (min-width: 768px) {
  .centum .x80 {
    max-width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .centum .x75 {
    max-width: 75%;
  }
}

@media only screen and (min-width: 768px) {
  .centum .x70 {
    max-width: 70%;
  }
}

@media only screen and (min-width: 768px) {
  .centum .x65 {
    max-width: 65%;
  }
}

@media only screen and (min-width: 768px) {
  .centum .x60 {
    max-width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .centum .x55 {
    max-width: 55%;
  }
}

@media only screen and (min-width: 768px) {
  .centum .x50 {
    max-width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .centum .x45 {
    max-width: 45%;
  }
}

@media only screen and (min-width: 768px) {
  .centum .x40 {
    max-width: 40%;
  }
}

@media only screen and (min-width: 768px) {
  .centum .x35 {
    max-width: 35%;
  }
}

@media only screen and (min-width: 768px) {
  .centum .x33 {
    max-width: 33.33%;
  }
}

@media only screen and (min-width: 768px) {
  .centum .x30 {
    max-width: 30%;
  }
}

@media only screen and (min-width: 768px) {
  .centum .x25 {
    max-width: 25%;
  }
}

@media only screen and (min-width: 768px) {
  .centum .x20 {
    max-width: 20%;
  }
}

@media only screen and (min-width: 768px) {
  .centum .x15 {
    max-width: 15%;
  }
}

@media only screen and (min-width: 768px) {
  .centum .x10 {
    max-width: 10%;
  }
}

@media only screen and (min-width: 768px) {
  .centum .x5 {
    max-width: 5%;
  }
}

.centum [class*="shift+"] {
  unicode-bidi: normal;
}

@media only screen and (min-width: 768px) {
  .centum [class*="shift+"] {
    unicode-bidi: -webkit-isolate;
    unicode-bidi: -moz-isolate;
    unicode-bidi: isolate;
  }
}

.alert {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 900;
  margin: 10px 0;
  color: #e6e6e6;
}

.alert.error {
  background-color: #800000;
}

.alert.success {
  background-color: #004d1a;
}

.alert.notice {
  background-color: #002080;
}

.alert .closer {
  cursor: pointer;
  float: right;
  margin-left: 10px;
}

.alert a {
  color: #e6e6e6;
}

.alert a:hover {
  color: #b3b3b3;
}

.fade-in {
  -webkit-animation: fade-in 0.4s;
          animation: fade-in 0.4s;
}

.fade-out {
  -webkit-animation: fade-out 0.4s;
          animation: fade-out 0.4s;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.btn {
  background-color: #595959;
  border: 1px solid #999999;
  border-radius: 5px;
  color: #e6e6e6;
  cursor: pointer;
  display: inline-block;
  font-family: "Mukta", sans-serif;
  font-size: 0.9rem;
  font-weight: 900;
  height: 1.6rem;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #999999;
  color: #595959;
}

.btn.secondary {
  border: 1px solid #002080;
  background-color: #002080;
}

.btn.secondary:hover {
  color: #595959;
  background-color: #3366ff;
}

.btn.danger {
  border: 1px solid #800000;
  background-color: #800000;
}

.btn.danger:hover {
  color: #595959;
  background-color: #ff4d4d;
}

.btn-wrap {
  margin-bottom: -5px;
}

.btn-wrap > .btn {
  margin-bottom: 5px;
}

.centum.spacer-d,
.cell.spacer-d,
h1.spacer-d {
  flex-grow: 1;
  display: none;
}

@media only screen and (min-width: 768px) {
  .centum.spacer-d,
  .cell.spacer-d,
  h1.spacer-d {
    display: block;
  }
}

.centum.spacer-m,
.cell.spacer-m,
h1.spacer-m {
  flex-grow: 1;
  display: block;
}

@media only screen and (min-width: 768px) {
  .centum.spacer-m,
  .cell.spacer-m,
  h1.spacer-m {
    display: none;
  }
}

.centum.p0,
.cell.p0,
h1.p0 {
  padding: 0 !important;
}

.centum.p5,
.cell.p5,
h1.p5 {
  padding: 5px !important;
}

.centum.p10,
.cell.p10,
h1.p10 {
  padding: 10px !important;
}

.centum.p15,
.cell.p15,
h1.p15 {
  padding: 15px !important;
}

.centum.p20,
.cell.p20,
h1.p20 {
  padding: 20px !important;
}

.centum.ph0,
.cell.ph0,
h1.ph0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.centum.ph5,
.cell.ph5,
h1.ph5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.centum.ph10,
.cell.ph10,
h1.ph10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.centum.ph15,
.cell.ph15,
h1.ph15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.centum.ph20,
.cell.ph20,
h1.ph20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.centum.pv0,
.cell.pv0,
h1.pv0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.centum.pv5,
.cell.pv5,
h1.pv5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.centum.pv10,
.cell.pv10,
h1.pv10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.centum.pv15,
.cell.pv15,
h1.pv15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.centum.pv20,
.cell.pv20,
h1.pv20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

@media only screen and (min-width: 768px) {
  .centum.x-max100,
  .cell.x-max100,
  h1.x-max100 {
    max-width: 100px;
  }

  .centum.x-max150,
  .cell.x-max150,
  h1.x-max150 {
    max-width: 150px;
  }

  .centum.x-max200,
  .cell.x-max200,
  h1.x-max200 {
    max-width: 200px;
  }

  .centum.x-max250,
  .cell.x-max250,
  h1.x-max250 {
    max-width: 250px;
  }

  .centum.x-max300,
  .cell.x-max300,
  h1.x-max300 {
    max-width: 300px;
  }

  .centum.x-max350,
  .cell.x-max350,
  h1.x-max350 {
    max-width: 350px;
  }

  .centum.x-max400,
  .cell.x-max400,
  h1.x-max400 {
    max-width: 400px;
  }

  .centum.x-max450,
  .cell.x-max450,
  h1.x-max450 {
    max-width: 450px;
  }

  .centum.x-max500,
  .cell.x-max500,
  h1.x-max500 {
    max-width: 500px;
  }

  .centum.x-max550,
  .cell.x-max550,
  h1.x-max550 {
    max-width: 550px;
  }

  .centum.x-max600,
  .cell.x-max600,
  h1.x-max600 {
    max-width: 600px;
  }

  .centum.x-max650,
  .cell.x-max650,
  h1.x-max650 {
    max-width: 650px;
  }

  .centum.x-max700,
  .cell.x-max700,
  h1.x-max700 {
    max-width: 700px;
  }

  .centum.x-max750,
  .cell.x-max750,
  h1.x-max750 {
    max-width: 750px;
  }

  .centum.x-max800,
  .cell.x-max800,
  h1.x-max800 {
    max-width: 800px;
  }

  .centum.x-max850,
  .cell.x-max850,
  h1.x-max850 {
    max-width: 850px;
  }

  .centum.x-max900,
  .cell.x-max900,
  h1.x-max900 {
    max-width: 900px;
  }

  .centum.x-max950,
  .cell.x-max950,
  h1.x-max950 {
    max-width: 950px;
  }

  .centum.x-max1000,
  .cell.x-max1000,
  h1.x-max1000 {
    max-width: 1000px;
  }
}

/*Borders*/

.border-basic {
  border: 1px solid #999999;
}

/*Positioning*/

.cell.center-h {
  margin: auto;
}

.cell.align-center {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .cell.align-center-d {
    text-align: center;
  }
}

.cell.align-center-m {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .cell.align-center-m {
    text-align: initial;
  }
}

.cell.align-right {
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .cell.align-right-d {
    text-align: right;
  }
}

.cell.align-right-m {
  text-align: right;
}

@media only screen and (min-width: 768px) {
  .cell.align-right-m {
    text-align: initial;
  }
}

.cell span.center-v {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

* {
  box-sizing: border-box;
  transition-duration: 0.4s;
}

html {
  height: 100%;
  background-color: #eee;
  font-family: "Mukta", sans-serif;
  font-size: 1rem;
  line-height: 1.6rem;
}

body {
  display: none;
  color: #595959;
  max-height: 100%;
  margin: 0;
}

main {
  background-color: #fff;
  height: calc(100vh - 104px);
  margin: 10px;
  overflow: auto;
}

footer {
  background-color: #595959;
  color: #e6e6e6;
  font-size: 0.8rem;
  height: 30px;
  padding: 5px;
  text-align: center;
}

footer a {
  color: #e6e6e6;
  text-decoration: underline;
}

label {
  font-weight: 900;
}

p {
  display: block;
  margin: 0 0 10px 0;
}

p:last-child {
  margin-bottom: 0;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 2rem;
  margin: 10px 0;
}

form label,
.modal-content label,
.cell label {
  display: block;
}

form label.small,
.modal-content label.small,
.cell label.small {
  font-size: 0.8rem;
}

form label.inline,
.modal-content label.inline,
.cell label.inline {
  display: inline;
}

form input[type=email],
form input[type=number],
form input[type=password],
form input[type=search],
form input[type=date],
form input[type=text],
.modal-content input[type=email],
.modal-content input[type=number],
.modal-content input[type=password],
.modal-content input[type=search],
.modal-content input[type=date],
.modal-content input[type=text],
.cell input[type=email],
.cell input[type=number],
.cell input[type=password],
.cell input[type=search],
.cell input[type=date],
.cell input[type=text] {
  border: 1px solid #999999;
  border-radius: 5px;
  font-size: 0.83rem;
  line-height: 1rem;
  height: 1.6rem;
  padding: 0 10px;
  width: 100%;
}

form input[type=email].is-invalid,
form input[type=number].is-invalid,
form input[type=password].is-invalid,
form input[type=search].is-invalid,
form input[type=date].is-invalid,
form input[type=text].is-invalid,
.modal-content input[type=email].is-invalid,
.modal-content input[type=number].is-invalid,
.modal-content input[type=password].is-invalid,
.modal-content input[type=search].is-invalid,
.modal-content input[type=date].is-invalid,
.modal-content input[type=text].is-invalid,
.cell input[type=email].is-invalid,
.cell input[type=number].is-invalid,
.cell input[type=password].is-invalid,
.cell input[type=search].is-invalid,
.cell input[type=date].is-invalid,
.cell input[type=text].is-invalid {
  border: 1px solid #800000;
}

form input[type=checkbox],
.modal-content input[type=checkbox],
.cell input[type=checkbox] {
  margin: 0 0 15px 0;
}

form select,
.modal-content select,
.cell select {
  border: 1px solid #999999;
  border-radius: 5px;
  height: 1.6rem;
  max-height: 1.8rem;
  padding: 0 10px;
  width: 100%;
}

form select.is-invalid,
.modal-content select.is-invalid,
.cell select.is-invalid {
  border: 1px solid #800000;
}

form textarea,
.modal-content textarea,
.cell textarea {
  border: 1px solid #999999;
  border-radius: 5px;
  height: 100px;
  padding: 10px;
  resize: vertical;
  overflow: auto;
  width: 100%;
}

form textarea.is-invalid,
.modal-content textarea.is-invalid,
.cell textarea.is-invalid {
  border: 1px solid #800000;
}

.input-spacing input {
  margin-bottom: 10px;
}

.input-spacing input:last-child {
  margin-bottom: 0;
}

a {
  color: #595959;
  display: inline;
  text-decoration: underline;
}

a:hover {
  color: #999999;
  text-decoration: none;
}

.modal-background {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10000;
}

.modal-background .modal-container {
  background-color: #fff;
  width: 95vw;
}

@media only screen and (min-width: 768px) {
  .modal-background .modal-container {
    max-width: 500px;
  }
}

.modal-background .modal-container .modal-title {
  background-color: #595959;
  color: #e6e6e6;
  padding: 10px;
}

.modal-background .modal-container .modal-title .modal-closer {
  cursor: pointer;
  float: right;
  margin-left: 10px;
}

.modal-background .modal-container .modal-content {
  padding: 10px;
}

nav {
  /*For pagination*/
}

nav.main {
  background-color: #595959;
  color: #e6e6e6;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  font-size: 1.3rem;
  height: 54px;
  line-height: 54px;
  padding: 0px 10px;
  white-space: nowrap;
  z-index: 100;
}

nav.main a {
  color: #e6e6e6;
  text-decoration: none;
}

nav.main a:hover {
  color: #e6e6e6;
}

nav.main .brand {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  font-size: 1.6rem;
}

nav.main .nav-hamburger {
  cursor: pointer;
  font-size: 2rem;
}

@media only screen and (min-width: 768px) {
  nav.main .nav-hamburger {
    display: none;
  }
}

nav.main .nav-links-container {
  display: none;
}

@media only screen and (min-width: 768px) {
  nav.main .nav-links-container {
    display: block;
    padding-left: 10px;
    width: 100%;
  }
}

nav.main .nav-links-container.nav-mobile-show {
  display: block;
  -webkit-animation: fade-in 0.4s;
          animation: fade-in 0.4s;
}

@media only screen and (min-width: 768px) {
  nav.main .nav-links-container.nav-mobile-show {
    display: none;
  }
}

nav.main .nav-links-container .nav-links {
  background-color: #595959;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  opacity: 0.9;
  position: absolute;
  top: 54px;
  right: 0;
}

@media only screen and (min-width: 768px) {
  nav.main .nav-links-container .nav-links {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 54px;
    opacity: 1;
    position: static;
  }
}

nav.main .nav-links-container .nav-links ul {
  line-height: 2rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  nav.main .nav-links-container .nav-links ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

nav.main .nav-links-container .nav-links ul li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 54px;
  width: 100%;
  padding: 10px;
}

nav.main .nav-links-container .nav-links ul li a:hover {
  background-color: #999999;
}

nav.main .nav-links-container .nav-links ul .nav-links-dropdown {
  cursor: pointer;
  z-index: 1000;
}

nav.main .nav-links-container .nav-links ul .nav-links-dropdown .nav-links-dropdown-submenu {
  background-color: #999999;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  nav.main .nav-links-container .nav-links ul .nav-links-dropdown .nav-links-dropdown-submenu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

nav.main .nav-links-container .nav-links ul .nav-links-dropdown .nav-links-dropdown-submenu li a:hover {
  background-color: #595959;
}

nav.main .nav-links-container .nav-links ul .nav-links-dropdown.nav-links-dropdown-open a:hover {
  background-color: #595959;
}

nav.main .nav-links-container .nav-links ul .nav-links-dropdown ul.nav-links-dropdown-submenu {
  display: none;
}

nav.main .nav-links-container .nav-links ul .nav-links-dropdown ul.nav-links-dropdown-submenu.nav-links-show {
  display: block;
  -webkit-animation: fade-in 0.4s;
          animation: fade-in 0.4s;
}

nav.main .nav-links-container .nav-links .fas.fa-caret-down {
  margin-left: 5px;
}

nav ul.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul.pagination li.page-item {
  background-color: #595959;
  border-radius: 5px;
  color: #e6e6e6;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  line-height: 1.6rem;
  margin: 0 5px;
}

nav ul.pagination li.page-item:hover {
  background-color: #999999;
}

nav ul.pagination li.page-item:hover a {
  color: #595959;
}

nav ul.pagination li.page-item.active {
  background-color: #fff;
  border: 1px solid #595959;
  color: #595959;
  padding: 0 10px;
  cursor: not-allowed;
}

nav ul.pagination li.page-item.disabled {
  background-color: #999999;
  color: #595959;
  padding: 0 10px;
  cursor: not-allowed;
}

nav ul.pagination li.page-item a.page-link {
  color: #e6e6e6;
  padding: 0 10px;
  text-decoration: none;
}

nav ul.pagination li.page-item a.page-link:hover {
  color: #595959;
}

.short-field {
  max-width: 100px;
}

.inline {
  display: inline;
}

.sorters {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  font-size: 1.3rem;
  position: relative;
  top: -5px;
}

.sorters i {
  cursor: pointer;
  line-height: 0.8rem;
}

.sorters i:hover {
  color: #999999;
}

.centum.header-d,
.cell.header-d,
span.header-d {
  display: none;
}

@media only screen and (min-width: 768px) {
  .centum.header-d,
  .cell.header-d,
  span.header-d {
    display: block;
    font-size: 1.3rem;
    font-weight: 900;
  }
}

.centum.header-m,
.cell.header-m,
span.header-m {
  display: inline;
  font-weight: 900;
}

@media only screen and (min-width: 768px) {
  .centum.header-m,
  .cell.header-m,
  span.header-m {
    display: none;
  }
}

.centum.striped-even:nth-child(even),
.cell.striped-even:nth-child(even),
span.striped-even:nth-child(even) {
  background-color: #cccccc;
}

.centum.striped-odd:nth-child(odd),
.cell.striped-odd:nth-child(odd),
span.striped-odd:nth-child(odd) {
  background-color: #cccccc;
}

/*Text styles*/

.bold {
  font-weight: 800;
}

.big {
  font-size: 1.3rem;
}

.bigger {
  font-size: 1.6rem;
}

.biggest {
  font-size: 2rem;
}

.giant {
  font-size: 6rem;
  line-height: 6.2rem;
}

.more-tools-container,
.more-tools-holder,
.toolbar {
  display: inline-block;
  margin-bottom: 10px;
}

.more-tools-container .toolbar-button,
.more-tools-holder .toolbar-button,
.toolbar .toolbar-button {
  background-color: #595959;
  border-radius: 5px;
  color: #e6e6e6;
  cursor: pointer;
  font-size: 0.8rem;
  margin-right: 2px;
  padding: 5px;
}

.more-tools-container .spacer,
.more-tools-holder .spacer,
.toolbar .spacer {
  margin: 5px;
}

.more-tools-container .spacer:first-child,
.more-tools-holder .spacer:first-child,
.toolbar .spacer:first-child {
  display: none;
}

.fancy-text-div {
  border: 1px solid #999999;
  border-radius: 5px;
  color: #000;
  font-size: 0.83rem;
  line-height: 1rem;
  height: 100px;
  padding: 10px;
  resize: vertical;
  overflow: auto;
  width: 100%;
}

.fancy-text-div.is-invalid {
  border: 1px solid #800000;
}

.more-tools-holder {
  display: none;
  max-width: 100%;
}

.more-tools-container {
  display: none;
}

/*Project-specific styles go here*/

