//Elements
* {
  box-sizing: border-box;
  transition-duration: 0.4s;
}

html {
  height: 100%;
  background-color: $background;
  font-family: $ff-base;
  font-size: $fs-base;
  line-height: $lh-base;
}

body {
  color: $fc-base;
  max-height: 100%;
  margin: 0;
}

main {
  background-color: $white;
  height: $main-height;
  margin: $body-margin;
  overflow: auto;
}

footer {
  background-color: $primary;
  color: $fc-light;
  height: $footer-height;
  padding: 5px;
  text-align: center;
  a {
    color: $fc-light;
    text-decoration: underline;
  }
}

p {
  display: block;
  margin: 0 0 10px 0;
  &:last-child {
    margin-bottom: 0;
  }
}

h1 {
  font-size: $fs-biggest;
  font-weight: 800;
  margin: 0;
}
