// Typography
$ff-base: 'Mukta', sans-serif;
$fs-base: 1rem;
$fs-big: 1.3rem;
$fs-bigger: 1.6rem;
$fs-biggest: 2rem;
$fs-giant: 6rem;
$lh-base: 1.6rem;
$lh-big: 1.8rem;
$lh-bigger: 2rem;
$lh-biggest: 2.3rem;
$lh-giant: 3rem;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$black: #000;
$white: #fff;

//Pallete
$primary: #404040;
$secondary: #999999;
$background: #eee;
$fc-base: #595959;
$fc-light: #f2f2f2;

//Measurements
$break: 768px;
$nav-height: 54px;
$footer-height: 30px;
$body-margin: 10px;
$default-padding: 10px;
$main-height: calc(100vh - 104px); //This 100vh minus the sum of $nav-height and $footer-height plus 2x $body-margin

$transition: 0.4s;
